body {

    background-image: url("/Quiz_Halloween/assets/images/cementery.png");

/* Para dejar la imagen de fondo centrada, vertical yhorizontalmente */
background-position: center center;

/* Para que la imagen de fondo no se repita */
background-repeat: no-repeat;

/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
background-attachment: fixed;

/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
background-size: cover;

}





h1 {

    color:#fff;
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}

h3 {

    color:rgb(17, 16, 16);
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
}


.q1{

    background-color: blueviolet;
    border-radius: 5px;
    margin: 20px;
    width: 120px;
    list-style:"🧛‍♂️"

    }

   .q1:hover {
        background-color: #177edf;
        color: white;
    }
    


.q2{

    background-color: rgb(187, 36, 36);
    border-radius: 5px;
    margin: 20px;
    width: 150px;
    list-style:"🎃"
    }

    .q2:hover {
        background-color: #177edf;
        color: white;
    }

    
.q3{
    background-color: rgb(212, 81, 114);
    border-radius: 5px;
    margin: 20px;
    width: 180px;
    list-style:"👻"
    }

    .q3:hover {
        background-color: #177edf;
        color: white;
    }
    
.q4{
    background-color: rgb(103, 128, 13);
    border-radius: 5px;
    margin: 20px;
    width: 210px;
    list-style:"🔥"
    }

.q4:hover {
        background-color: #177edf;
        color: white;
    }


.title_quiz1  {
    font-family: Brush Script MT;
    text-indent: 20px;
    
}

#div_enter{
    border: red 5px ridge;
    margin:0 auto;
    width:500px;
    height: 200px;
    border-radius:8px;
    color:#fff;
    font-weight:700;
    text-align: center;    
    background-color: rgb(247, 239, 247);
    display: default;
   
    
}

#div_questions {
    border: rgb(233, 225, 225) 5px ridge;
    width:500px;
    margin:0 auto;
    border-radius:8px;
    background: rgb(28, 28, 29);
    display: none;

}

#div_questions:hover {
    background-image: url("https://as01.epimg.net/epik/imagenes/2020/10/27/portada/1603786237_188260_1603792871_noticia_normal_recorte1.jpg");
}



#bottom_index:hover {
    background-color: #df17c4;
    color: white;
}






@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ }
